$background-blue: #3794d0;
$background-gray: #222;
$background-light-gray: #2e2e2e;
$background-withe: #ffffff;
$background-blue: #3794d0;
$text-color-gray: #333;
$text-color-bright-gray: #adadad;
$text-color-white: #fff;
$text-color-blue: #3794d0;
